@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f2f0;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d7bfbf;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.8rem;
  }

  img {
    border-radius: 50px;
    margin: 1rem;
    width: 80px;
    height: 80px;
    box-shadow:
      0 10px 15px -2px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1) rotate(10deg);
    }
  }
  @media (min-width: 600px) {
    img {
      margin: 1rem;
    }
  }
}
.lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  li {
    list-style: none;
    text-align: center;
    padding: 0.7rem;

    a {
      color: #414040;
      text-decoration: none;
      font-size: 0.5rem;
      transition: transform 1s ease;
    }
    &:hover {
      transform: scale(1.1) translateY(-10px);
    }

    @media (min-width: 600px) {
      padding-right: 1.5rem;

      a {
        font-size: 0.7rem;
      }
    }
  }
}
.hero {
  width: 100%;
  height: 80vh;
  background-image: url(../assets/images/fondohero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.contenedorhero {
  width: 100%;
  height: auto;

  h1 {
    color: #ffffff;
    font-family: "Special Elite", system-ui;
    padding-inline: 20px;
    font-size: 1.5rem;
  }
  h2 {
    font-weight: 500;
    text-wrap: pretty;
    font-size: 0.7rem;
    padding: 1rem;
    margin-bottom: 1rem;
    line-height: 0.67rem;
    color: #ffffff;
    line-height: 0.7rem;
  }

  a {
    display: inline;
    background-color: #fcee28;
    border-radius: 1.5rem;
    text-decoration: none;
    padding: 0.5rem;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    /* width: 150px; */
  }

  @media (min-width: 600px) {
    h1 {
      font-size: 1.9rem;
    }

    h2 {
      font-size: 0.9rem;
      line-height: 1rem;
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    a {
      font-size: 1rem;
      padding: 0.6rem;
    }
  }
}

/* sección desarrollos index.html */

.desarrollos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 60vh;
}

.texto-desarrollos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 1.3rem;
    font-family: "Special Elite", system-ui;
  }

  p {
    font-size: 0.7rem;
    padding: 0.6rem;
    line-height: 0.67rem;
    text-wrap: pretty;
    align-self: center;
  }

  a {
    display: inline-block;
    background-color: #fcee28;
    border-radius: 0.8rem;
    text-decoration: none;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    align-self: center;
    font-size: 0.6rem;
  }}

  .card-desarrollos {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: auto;
  margin: 0 auto; /* Centra todo el bloque en pantallas de PC */
  padding: 0 20px; /* "Colchón" de seguridad a los lados en celulares */
  box-sizing: border-box; /* Evita que el padding rompa el ancho total */
  border-radius: 1rem;
overflow: hidden;


  a {
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    
  }

  img {
    width: 200px;
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
    transition: transform 0.5s ease;
   
   

    &:hover {
      transform: scale(1.1);
    }
  }}

 


/* seccion contacto en index */
.contacto-index {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/telefonos.jpg);
  background-position: center;
  background-size: cover;
  height: auto;
}
.texto-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  h2 {
    font-family: "Special Elite", system-ui;
    font-size: 1,2rem;
    padding-top: 1.5rem;
  }

  p {
    font-size: 0.6rem;
    text-align: center;
    padding: 1.5rem;
    line-height: 0.67rem;
    text-wrap: pretty;
  }

  a {
    display: inline-block;
    background-color: #fcee28;
    border-radius: 0.8rem;
    text-decoration: none;
    padding: 0.3rem;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100px;
    text-align: center;
    font-size: 0.6rem;
  }

  @media (min-width: 487px) {
    p {
      font-size: 0.5rem;
    }
  }
  @media (min-width: 600px) {
    h2 {
      font-size: 1.4rem;
    }
    p {
      max-width: 600px;
      font-size: 0.8rem;
      line-height: 0.9rem;
    }

    a {
      font-size: 0.7rem;
      padding: 0.4rem;
      width: 130px;
      font-weight: 800;
    }
  }
}

.minicards {
  display: flex;
  flex-direction: row;
  padding: 1.9rem;
  gap: 1.5rem;
  justify-content: center;
}

.minicard-uno,
.minicard-dos,
.minicard-tres {
  padding: 0.6rem;
  background-color: #c4bfbb;
  border-radius: 1rem;
  text-align: center;
  font-size: 0.5rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  img {
    max-width: 20px;
    min-width: 20%;
    padding-bottom: 0.3rem;
  }

  p {
    max-width: 250px;
    margin: 0 auto;
    color: #171717;
    text-wrap: pretty;
    line-height: 0.4rem;
  }

  @media (min-width: 600px) {
    p {
      padding: 0.8rem;
      font-size: 0.6rem;
      line-height: 0.7rem;
    }

    img {
      padding-top: 1rem;
    }
  }
}

.footer {
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 1rem;
  justify-content: center;

  p {
    font-size: 0.4rem;
    text-align: center;
    font-family: "Special Elite", system-ui;
  }

  @media (min-width: 600px) {
    p {
      font-size: 0.5rem;
    }

    @media (min-width: 600px) {
      p {
        font-size: 0.7rem;
      }
    }
  }
}

/* pagina bio: sección presentación bio*/

.contenedor-uno {
  display: flex;
  flex-direction: row;
  color: #494949;
  margin-bottom: 1rem;
  align-items: center;

  .contenedor-img {
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     max-width: clamp(150px, 30vw, 280px); /*nunca baja de 150px, nunca sube de 280px, y en el medio se ajusta según el ancho de la ventana (30vw).*/
  

    img {
      width: 100%;
      height: auto;
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      border-radius: 50%;
    }
  }

}

.texto-uno {
  padding: 0.5rem;
  text-wrap: pretty;
  width: 70%;

  h2 {
    font-family: "Special Elite", system-ui;
    font-size: 1rem;
    padding-bottom: 0.3rem;
  }

  h3 {
    font-size: 0.6rem;
    padding-bottom: 0.3rem;
  }
  p {
    padding-top: 0.4rem;
    font-size: 0.5rem;
    text-align: left;
  }

  @media (min-width: 480px) {
    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.7rem;
    }
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

/* seccion desarrollo-bio */
.contenido-bio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  /* height: auto; */
  grid-gap: 1rem;
  background-color: #f5f2f0;
  line-height: 0.8rem;
  text-wrap: pretty;
  margin: 0.5rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.contenido-uno,
.contenido-dos,
.contenido-tres,
.contenido-cuatro {
  background-color: #e4e0de;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 8px 6px -3px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  font-size: 0.5rem;

  @media (min-width: 480px) {
    font-size: 0.6rem;
  }

  @media (min-width: 768px) {
    font-size: 0.8rem;
  }
}

.imagen-bio {
  width: 80%;
  height: auto;
  border-radius: 0.5rem;
}

.descripcion-bio {
  font-size: 0.9rem;
  padding: 1rem 1rem 0 1rem;
  font-family: "Special Elite", system-ui;
}

.texto-bio {
  padding: 1rem 0.6rem 0 0.6rem;
  @media (min-width: 480px) {
    font-size: 0.6rem;
  }

  @media (min-width: 768px) {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

.lista-bio {
  list-style: none;
  padding-top: 1rem;

  li {
    font-size: 0.5rem;

    @media (min-width: 480px) {
      font-size: 0.6rem;
    }

    @media (min-width: 768px) {
      font-size: 0.7rem;
      line-height: 1rem;
    }
  }
}

.boton-bio {
  display: inline;
  background-color: #fcee28;
  border-radius: 1.5rem;
  text-decoration: none;
  padding: 0.5rem;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  width: auto;
  margin: 1.5rem auto;

  a {
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
  }

  @media (min-width: 1024px) {
    grid-column: 2/4;
    font-size: 1rem;
  }
}

/* sección contacto */
.contform {
  background: linear-gradient(to bottom, #f5f2f0 20%, #dda1a1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  border-radius: 1rem;
  text-align: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  h2 {
    font-size: 2rem;
    font-family: "Special Elite", system-ui;
    padding-top: 2rem;

    @media (min-width: 768px) {
      font-size: 4rem;
      transform: rotate(-90deg);
      white-space: wrap; /* para que no se corte en varias líneas */
      /* writing-mode: vertical-lr;
  text-orientation:mixed; controla cómo se orientan los caracteres */
    }
  }

  .formulario {
    padding-top: 2rem;
    width: 100%;
    max-width: 600px;
    padding-inline: 0.5rem;
    padding-bottom: 2rem;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 1rem;
    border-radius: 1rem;
    border: 1px solid #dda1a1;
    height: 2rem;
    font-size: 1rem;
  }

  label {
    font-size: 0.8rem;
  }
}

.botonform {
  display: inline;
  width: 100%;
  max-width: 600px;
  align-self: center;
  /* padding-bottom: 3rem; */

  input {
    margin: 0 auto;
    border: none;
    background-color: #fcee28;
    font-weight: 800;
    font-size: 0.7rem;
    border-radius: 0.8rem;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 10px 25px;
    width: auto;
  }
}

/* página desarrollos */

.titulodesarrollos {
  font-size: 2rem;
  font-family: "Special Elite", system-ui;
  padding-top: 2rem;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}
.cont-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
    gap: 0.1rem;
  }
}

.card-uno,
.card-dos,
.card-tres {
  background-color: #e4e0de;
  padding: 1.5rem;
  box-shadow: 0px 8px 6px -3px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  width: 90%;
  box-sizing: border-box;
  font-size: 0.8rem;
  text-align: center;

  @media (min-width: 768px) {
    width: auto; /* se anula el 90% de ancho cuando pasa a row */
    flex: 1 1 0; /* las 3 cards reparten el espacio en partes iguales */
    min-width: 0; /* se achican parejo sin importar el contenido */
    /* flex: 1 1 0 es la combinación clásica para "reparto perfectamente igual":

basis en 0 → todas arrancan del mismo lugar, sin importar su contenido.
grow en 1 (igual entre todas) → el espacio sobrante se reparte parejo.
shrink en 1 (igual entre todas) → si falta espacio, se achican parejo. */
    margin: 1rem;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
    margin: 0 auto;
  }

  p {
    font-size: 0.8rem;
    padding-top: 1rem;
    text-align: center;
  }
}

/* página portafolio - sección proyectos */

.proyectos {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 1rem 0.5rem 1rem 0.5rem;
  width: 100%;
  background-color: rgba(58, 56, 56, 0.108);
  margin-top: 1rem;
  
}

.texto-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 0.6rem;
    font-family: "Special Elite", system-ui;
  }

  p {
    font-size: 0.4rem;
    padding: 0.6rem;
    line-height: 0.5rem;
    text-wrap: pretty;
    align-self: center;
  }

  a {
    display: inline-block;
    background-color: #fcee28;
    border-radius: 0.8rem;
    text-decoration: none;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    align-self: center;
    font-size: 0.5rem;
    width: 100px;
  }

  @media (min-width: 487px) {
    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.47rem;
       line-height: 0.7rem;
    }

    a {
      font-size: 0.7rem;
      width: 120px
    }
  }

  @media (min-width: 600px) {
    h2 {
      font-size: 1.5rem;
      padding: 1rem;
    }

    p {
      font-size: 0.6rem;
      line-height: 0.9rem;
      text-wrap: pretty;
      padding: 0rem 3rem 1.6rem 3rem;
    }
    a {
      font-size: 0.8rem;
      width: 120px
    }
  }

  @media (min-width: 768px) {
    p {
      font-size: 0.8rem;
      width: 80%;
      line-height: 1.2rem;
    }
    a {
      font-size: 1rem;
      width: 120px;
    }
  }
}


.card-proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto; /* Centra todo el bloque en pantallas de PC */
  padding: 0 30px 0 10px; 
  box-sizing: border-box; /* Evita que el padding rompa el ancho total */
  border-radius: 1rem;


  img {
    width: 150px;
    min-width: 130px;
    height: auto;
    border-radius: 0.5rem;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (min-width: 600px) {
    height: 50vh;

    img {
      width: 300px;
    }
  }

  @media (min-width: 768px) {
    height: 70vh;

    img {
      width: 400px;
    }
  }
}